.exploreContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .exploreWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
  }
  
  .filterContainer {
    flex: 1;
    background-color: #003580;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
  }
  
  .filterTitle{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .filterItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .filterItem>label{
    font-size: 14px;
    color: white;
  }
  
  .filterItem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .filterItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .filterOptions{
    padding: 10px;
  }
  
  .filterOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 12px;
  }
  
  .filterOptionInput{
    width: 50px;
  }
  
  .exploreSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .exploreResult {
    flex: 4;
  }

  .filterActivity{
    display: flex;
    flex-direction: column;
  }