.checkoutContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
 
 
 .checkoutWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
 }
 
 
 .trip-info {
    flex: 7;
 }
 
 
 .tripTitle {
    display: flex;
    flex-direction: column;
 }
 
 
 
 ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
 }
 
 
 .costBox {
    flex: 2;
    background-color: #b4b4b4;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
 }

 .costInfo{
    display: flex;
    flex-direction: column;
 }
 

.checkout-instructor-container{
    justify-content: left;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.checkout-instructor-container>button {
    padding: 10px;
    border-radius: 10%;
}

.checkout-instructor-container>button:focus {
    padding: 10px;
    border-radius: 10%;
    background-color: rgb(201, 201, 201);
}

.selected-instructor-button {
    padding: 10px;
    border-radius: 10%;
    background-color: rgb(201, 201, 201);
}

.checkout-instructorImg {

    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.instr-page-link {
    cursor: pointer;
}

.myplans-gmember-container{
    justify-content: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.myplans-gmember-container>button {
    padding: 10px;
    border-radius: 10%;
}

