.exploreItem {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .itemImg {
    width: 25%;
    height: 180x;
    max-height: 180px;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
  }
   
  .itemDesc {
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    flex: 2;
    gap: 20px;
  }
  
  .itemTitle {
    font-size: 20px;
    color: #0071c2;
    cursor: pointer;
    font-weight: bold;
  }
  
  .itemLocation {
    font-size: 14px;
    font-weight: bold;
  }
  
  .itemSubtitle{
    font-size: 12px;
  }
  
  .instructorDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  .instructorWrapper{
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  
  .instructorRating>span{
    font-size: 18px;
    font-weight: 500;
  }
  .instructorRating>button{
   background-color: #003580;
   color: white;
   padding: 5px;
   font-weight: bold;
   border: none;
   height: 30%;
   vertical-align: middle;
   
  }
  
  .itemDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .itemPrice{
    font-size: 24px;
  }
  
  .itemTaxText{
    font-size: 12px;
    color: gray;
  }
  
  .itemCheckButton{
    background-color: #003580;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .instructorImg{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  .instructorRating{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .itemDetails{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .itemRating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    width: auto;
    height: auto;
  }